.shopping-cart-item {
  display: flex;
  position: relative;
  margin: 25px 0 15px 0;
  padding: 10px 0;
  border: 0.5px solid #000;
}

.shopping-cart-item h6 {
  font-weight: bold;
  margin: 0 5px;
}

.shopping-cart-item > div {
  margin-right: 15px;
}

.shopping-cart-content {
  flex: 0 0 170px;
}

.shopping-item-price {
  text-align: right;
}

.delete-shopping-item {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 20px;
}

.shopping-item-quantity {
  display: flex;
  align-items: center;
}

.shopping-item-quantity button {
  display: inline-block;
  background: #202020;
  color: #fff;
  font-size: 12px;
  width: 22px;
  height: 22px;
}

.quantity {
  flex: 0 0 25px;
  text-align: center;
}

.shopping-item-img {
  width: 90px;
  height: 90px;
  padding-left: 10px;
}

.shopping-item-img img {
  width: 100%;
  height: 100%;
}

.shopping-item-title-price {
  display: flex;
  height: 65px;
}
