.nav {
  height: 90px;
  width: 100%;
  padding: 0 17%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0 5px 10px #f1f1f1;
}

.nav.sticky {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #fff;
  z-index: 2;
}

.nav-list {
  display: block;
  float: right;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  color: #3c3c3c;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

.menu {
  display: none;
  width: 30px;
  height: 30px;
  font-size: 24px;
}

.shopping-cart-icon {
  position: relative;
}

.shopping-items {
  position: absolute;
  right: -5px;
  top: -3px;
  border-radius: 50%;
  background: red;
  width: 16px;
  height: 16px;
  z-index: 2;
  font-size: 11px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: 0.5s !important;
}

.shopping-cart-icon {
  font-size: 19px;
}

.bump {
  animation: bump 0.4s 1;
}

.hidden {
  opacity: 0;
}

.show-nav {
  display: block;
}

ul {
  padding-left: 0;
}

@keyframes bump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px) scale(1.15);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .nav {
    width: 90% !important;
  }
}

@media screen and (max-width: 770px) {
  .menu {
    display: block;
  }
  .nav {
    padding-top: 15px;
    height: fit-content;
  }
  .nav > div {
    flex-basis: 100%;
  }
  .logo-side {
    margin-bottom: 20px;
  }
  .nav-side {
    z-index: 2;
    background: #fff;
    display: none;
    transition: 0.3s;
  }
  .show-nav {
    display: block;
  }
  .nav-list {
    float: none;
  }
  .nav-list li {
    margin: 5px 0 !important;
    display: block;
    width: fit-content;
  }
  .logo-side {
    display: flex;
  }
  .logo {
    flex-grow: 1;
  }
}

@media screen and (max-width: 930px) {
  .nav {
    width: 100% !important;
    padding: 20px !important;
  }
}
