@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .my-container {
    @apply mx-auto w-11/12 xl:w-[1200px];
  }
}

@layer components {
  .bump {
    animation: bump 0.35s ease-out 1;
  }
  @keyframes bump {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  .navigation {
    @apply sticky top-0 transition-transform duration-300 ease-in-out;
  }
  .sticky-hidden {
    @apply -translate-y-full;
  }
}
