.harmonous-living {
  margin-top: 100px;
  font-family: "Heebo", sans-serif;
  transition: 0.5s;
}

.harmonous-living-content {
  flex-basis: 50%;
  background: linear-gradient(0deg, #f3f3f3, transparent);
  padding: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.main-content {
  padding-left: 50px;
  padding-right: 50px;
}

.harmonous-living-content h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.harmonous-living-content p {
  font-size: 17px;
  font-weight: 600;
}

.harmonous-living-content a {
  display: inline-block;
  font-weight: bold;
  background: #202020;
  padding: 10px 20px;
  color: #fff !important;
  text-transform: uppercase;
  margin-top: 10px;
}

.harmonous-living-image {
  flex-basis: 50%;
  padding-left: 0;
  padding-right: 0;
}

.harmonous-image {
  width: 100%;
  height: 100%;
}

.harmonous-image img {
  width: 100%;
  height: 100%;
}

.harmonous-living-row {
  display: flex;
  flex-wrap: wrap;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@media screen and (max-width: 900px) {
  .harmonous-living {
    width: 90% !important;
    margin: 30px auto !important;
  }
  .harmonous-living-col {
    flex-basis: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  .harmonous-img {
    text-align: center;
  }
  .harmonous-img img {
    width: 70%;
  }
  .harmonous-living-content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 490px) {
  .harmonous-living-image {
    width: 90%;
  }
  .harmonous-living-content {
    width: 90% !important;
  }
  .harmonous-img img {
    width: 90%;
  }
  .harmonous-living-content h2 {
    font-size: 22px;
  }
  .harmonous-living-content p,
  .harmonous-living-content a {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .harmonous-living-content.col-md-6 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .harmonous-living-content a {
    padding: 8px 13px;
    font-size: 14px;
  }
}
