@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .shopping-items {
    @apply absolute -right-1.5 -top-1.5 z-[2] h-4 w-4 rounded-[50%] bg-red-500 text-center text-[11px] font-bold leading-4 text-white transition;
  }
  .my-container {
    @apply mx-auto w-11/12 xl:w-[1200px];
  }
}

@layer components {
  .bump {
    animation: bump 0.4s 1;
  }
  @keyframes bump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px) scale(1.15);
    }
    100% {
      transform: translateY(0);
    }
  }
  .sticky {
    @apply fixed top-0 z-[2] bg-white;
  }
}
