@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .shopping-items {
    @apply absolute top-[-5px] -right-1 rounded-[50%] bg-red-500 w-4 h-4 z-[2] text-[11px] text-center text-white font-bold transition;
  }
  .my-container {
    @apply mx-auto w-11/12 lg:w-10/12 xl:w-[66%];
  }
}

@layer utilities {
  .bump {
    animation: bump 0.4s 1;
  }
  @keyframes bump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px) scale(1.15);
    }
    100% {
      transform: translateY(0);
    }
  }
  .sticky {
    @apply fixed left-1/2 top-0 -translate-x-2/4 bg-white z-[2];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
