* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  max-width: 1000px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
